<!DOCTYPE html>
<html>

<head>
    <title>Payments Manager</title>
    <meta name="description" content="Add your payments and visualize how you spend your money">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="./src/index.js"></script>

</head>

<body>
    <paym-app></paym-app>
</body>

<style>
    html {
        background-color: #d2ddeb;
        font-family: 'Open Sans Light';
    }

    html h2 {
        font-size: 1em;
    }
</style>

</html>